<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Amazon.com Spend less. Smile more.</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="nav_logo border">
          <div class="logo">
          </div>
        </div>
        <div class="nav_address border">
          <p class="delivery">&ensp;&ensp;&ensp;Deliver to</p>
          <!--<a href=""></a>-->
          <p><i class="fa-solid fa-location-dot"></i> <strong>India</strong></p>
        </div>
        <div class="nav_search">
          <select class="select_button">
            <option value="" class="search_dropdown">All</option>
          </select>
          <input class="search_box" type="text" name="Search" placeholder="Search Amazon">
          <button type="" class="button_outer"><i class="fa-solid fa-magnifying-glass"></i></button>

        </div>
        <div class="nav_lang border">
          <p><i class="fa-solid fa-flag-usa"></i>&ensp;<strong>EN</strong>&ensp;<i class="fa-solid fa-sort-down"></i></p>

        </div>
        <div class="nav_signin border">
          <p>Hello, sign in</p>
          <p><strong>Accounts & Lists </strong><i class="fa-solid fa-sort-down"></i></p>

        </div>
        <div class="nav_returns border">
          <p class="returns">Returns</p>
          <p class="orders"><strong>& Orders</strong></p>

        </div>
        <div class="nav_cart border">
          <p><i class="fa-solid fa-cart-plus"></i>Cart</p>

        </div>
      </div>
      <div class="panel">
        <div class="panel_all border">
          <i class="fa-solid fa-bars">&ensp;ALL</i>
        </div>
        <div class="deals border border">
          <p>Today's Deals</p>

        </div>
        <div class="customer_service border">
          <p>Customer Service</p>

        </div>

        <div class="registry border">
          <p>Registry</p>
        </div>
        <div class="gift_cards border">
          <p>Gift Cards</p>

        </div>
        <div class="sell border">
          <p>Sell</p>

        </div>

      </div>


    </header>
    <div class="hero_section">
      <div class="amazon_tag">
        <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. Click here to go to <a href="https://www.amazon.in">amazon.in</a></p>
        
      </div>
      
    </div>

    <div class="main_items">
      <div class="box_1">
        <h2>Health & Personal Care</h2>
        <div class="bathroom">

        </div>
        <h5>&ensp;Shop Now</h5>
      </div>
      <div class="box_2">
        <h2>New Arrival in Toys</h2>
        <div class="toys">

        </div>
        <h5>&ensp;Shop Now</h5>
      </div>
      <div class="box_3">
        <h2>Beauty Picks</h2>
        <div class="makeup">

        </div>
        <h5>&ensp;Shop Now</h5>
      </div>
      <div class="box_4">
        <h2>Furniture</h2>
        <div class="furniture">

        </div>
        <h5>&ensp;Shop Now</h5>
      </div>
      <div class="box_5">
        <h2>Gaming Accessories</h2>
        <div class="games">
          <div class="games_1">
            <p>Headsets</p>
          </div>
          <div class="games_2">
            <p>Keyboards</p>
          </div>
          <div class="games_3">
            <p>Computer Mice</p>
          </div>
          <div class="games_4">
            <p>Chairs</p>
          </div>

          <!--<br>-->
          <h5>See more</h5>
        </div>
      </div>

      <div class="box_6">
        <h2>New home arrivals under $50</h2>
        <div class="home">
          <div class="home_1">
            <p>Kitchen & dining</p>
          </div>
          <div class="home_2">
            <p>Home Improvement</p>
          </div>
          <div class="home_3">
            <p>Decor</p>
          </div>
          <div class="home_4">
            <p>Bedding & Bath</p>
          </div>

          <!--<br>-->
          <h5>Shop the latest from home</h5>
        </div>
      </div>

      <div class="box_7">
        <h2>Shop Deals in Fashion</h2>
        <div class="fashion">
          <div class="fashion_1">
            <p>Jeans under $50</p>
          </div>
          <div class="fashion_2">
            <p>Tops under $25</p>
          </div>
          <div class="fashion_3">
            <p>Dresses under $30</p>
          </div>
          <div class="fashion_4">
            <p>Shoes under $50</p>
          </div>

          <!--<br>-->
          <h5>See all deals</h5>
        </div>
      </div>

      <div class="box_8">
        <h2>Most Loved Travel Essentials</h2>
        <div class="travel">
          <div class="travel_1">
            <p>Backpacks</p>
          </div>
          <div class="travel_2">
            <p>Suitcases</p>
          </div>
          <div class="travel_3">
            <p>Accessories</p>
          </div>
          <div class="travel_4">
            <p>Handbags</p>
          </div>

          <!--<br>-->
          <h5>Discover more</h5>
        </div>
      </div>

      <div class="box_9">
        <h2>Best Sellers in Sports & Outdoors</h2>
        <div class="sports">
          <div class="sports_1"></div>
          <div class="sports_2"></div>
          <div class="sports_3"></div>
          <div class="sports_4"></div>
          <div class="sports_5"></div>
          <div class="sports_6"></div>
          <div class="sports_7"></div>
          
        </div>
        
      </div>
      <div class="box_10">
        <h2>Best Sellers in Books</h2>
        <div class="books">
          <div class="book_1"></div>
          <div class="book_2"></div>
          <div class="book_3"></div>
          <div class="book_4"></div>
          <div class="book_5"></div>
          <div class="book_6"></div>
          <div class="book_7"></div>
          <div class="book_8"></div>
          <div class="book_9"></div>
          
        </div>
      </div>

    </div>
    <footer>
      <div class="recommendation">
        <div class="line"></div>
      <!--<hr>-->
        <p>See personalized recommendations</p>
        <button type="Click" class="signin_button">Sign in</button>
        <!--<div class="signin">-->
        <!--  <p>Sign in</p>-->
        <!---->
        <!--</div>-->
        <p>New customer? <a class="singin_link" href="#home">Start here</a></p>
        
        <div class="line"></div>
      <!--<hr>-->
      </div>

      <div class="back_to_top">
        <p><strong>Back to top</strong></p>
        
      </div>
      <div class="foot_panel_1">
        <div class="links_panel">
          <div>
            <h3>Get to Know Us</h3>
            <ul >
              <li>Careers</li>
              <li>Blog</li>
              <li>About Amazon</li>
              <li>Investor Relations</li>
              <li>Amazon Devices</li>
              <li>Amazon Science</li>
            </ul>
          </div>
          <div>
            <h3>Make Money with Us</h3>
            <ul>
              <li>Sell products on Amazon</li>
              <li>Sell on Amazon Business</li>
              <li>Sell Apps on Amazon</li>
              <li>Become an Affiliate</li>
              <li>Advertise your Products</li>
              <li>Self-Publish with Us</li>
              <li>Host an Amazon Hub</li>
              <li><i class="fa-solid fa-caret-right"></i> &ensp;<a href="#home">See More Make Money with Us</a> </li>
            </ul>
          </div>

          <div >
            <h3>Amazon Payment Products</h3>
            <ul>
              <li>Amazon Business Card</li>
              <li>Shop with Points</li>
              <li>Reload your Balance</li>
              <li>Amazon Currency Converter</li>
            </ul>
          </div>

          <div >
            <h3>Let Us Help You</h3>
            <ul>
              <li>Amazon and COVID -19</li>
              <li>Your Account</li>
              <li>Your Orders</li>
              <li>Shipping Rates & Policies</li>
              <li>Returns & Replacements</li>
              <li>Manage Your Content and Devices</li>
              <li>Help</li>
            </ul>
          </div>
          
        </div>
        
      </div>
      <div class="panel_line"></div>
      <div class="foot_panel_2">
        <div class="logo"></div>
        <div class="place_info">
          <div >
            <p><i class="fa-solid fa-globe"></i>&ensp; English&ensp; <i class="fa-solid fa-up-down"></i></p>
          </div>
          <div >
            <p>$ USD - U.S. Dollar &ensp;</p>
          </div>
          <div>
            <p><i class="fa-solid fa-flag-usa"></i>&ensp; United States&ensp;</p>
          </div>
          
        </div>
        
      </div>
      
      <div class="panel_line"></div>
      <div class="foot_panel_3">
        <div class="conditions">
            <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=508088&ref_=footer_cou">Conditions of Use</a>
            
          <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=468496&ref_=footer_privacy">Privacy Notice</a>
          <a href="https://www.amazon.com/gp/help/customer/display.html?ie=UTF8&nodeId=TnACMrGVghHocjL8KB&ref_=footer_consumer_health_data_privacy">Consumer Health Data Privacy Disclosure</a>
          <a href="https://www.amazon.com/privacyprefs?ref_=footer_iba"> Your Ads Privacy Choices</a>

          
        </div>
        <div class="copywright">
          <p>© 1996-2024, Amazon.com, Inc. or its affiliates</p>
          
        </div>
        
      </div>
    </footer>

  </body>
</html>

